body {
    font-family: Arial, sans-serif;
    background-image: url("movie1.jpeg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-image: url("white.png");
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1, h2 {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container input {
    padding: 10px;
    font-size: 16px;
}

.form-container button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.movie-list ul {
    list-style: none;
    padding: 0;
}

.movie-list li {
    padding: 10px;
    background-color: #e9ecef;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-list li .movie-name {
    font-weight: bold;
}
